.monfond {
    
    background-color: white;
    /*background-image: url('Image 3.png');*/
    display : flex;
    justify-content: left;
    padding-top: 0.5em;
    height: 6em;
}
.monFblanc {
    
    background-color: rgba(255, 255, 255, .75);
    display : flex;
    justify-content: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 5em;
    width: 100%;
   /* height: 100%;*/
}
.maphoto{
    width: 5em;
    height: 5em;
    margin-left: 0.5em;
    border-radius: 50%; 
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.titre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin:0; 
    padding: 0;
}


  

  